discord==2.3.2
requests
psutil
aiohttp
pywin32
pyperclip
rotate-screen
GPUtil
py-cpuinfo
pygame
win10toast
pyttsx3
flask
pyinstaller
pycryptodome
pycaw
clipboard
pyautogui
pillow
mss
pyscreenshot
wmi
plyer
py7zr
bs4
rotate-screen
gevent
pynput